@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
#full_body {
  padding: 70px 100px;
}
/* Header Style */
.header-part {
  display: flex;
  justify-content: space-between;
}
.header-title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  font-feature-settings: "liga" off;
  color: #3a3a3a;
}
/*new feature added, chnaged class name of nav bar*/
.nav_bar {
  padding-top: 7px;
  width: 463px;
  height: 36px;
}
.nav_bar a {
  text-decoration: none;
  padding-right: 20px;
  color: #3a3a3a;
  font-weight: 700;
}
.nav_bar i {
  padding-right: 20px;
}
/*new added closed*/
.booking {
  display: flex;
  padding-top: 20px;
}
.width {
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
}
.width h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0px;
}
#booking-img:hover {
  width: 440px;
  height: 414px;
  padding-left: 20px;
  transform: scale(1) rotate(360deg);
  transition: transform 5s ease-in-out;
}
#booking-text {
  font-weight: 600;
  font-size: 16px;
  padding-top: 13%;
}
.new-link {
  text-decoration: none;
  background-color: #e02c6d;
  color: white;
  padding: 10px 24px;
  border-radius: 41px;
}
hr {
  margin-top: 50px;
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
.popular-items {
  display: grid;
  justify-content: center;
  margin-top: 50px;
}
#collection-title {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 26px 26px;
}
.product {
  padding: 17px 15px 17px 14px;
  width: 300px;
  height: 450px;
  background: #ffffff;
  box-sizing: content-box;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.product img {
  width: 298px;
  height: 230px;
}
.price {
  font-size: larger;
}
.new_page {
  margin-top: 20px;
}
.new_page a {
  display: flex;
  justify-content: right;
  text-decoration: none;
  color: #e02c6d;
  font-weight: 600;
}
.new_page i {
  padding-top: 3px;
  padding-left: 5px;
}

#influencer-img {
  padding-top: 50px;
  width: 450px;
  height: 300px;
  border-radius: 18px;
}
#booking-text {
  margin-top: 25px;
}
footer {
  padding: 0%;
  margin-top: 70px;
  border: 20px solid #1d1d57;
  text-align: center;
  font-size: larger;
  background-color: #1d1d57;
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

/* Media Mobile */
@media only screen and (max-width: 688px) {
  *body {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }

  .booking {
    margin-left: 30%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
  }
  #booking-text {
    display: flexbox;
    flex-wrap: wrap;
    font-size: 1em;
    text-align: center;
  }
  .width {
    padding: 0%;
    width: 100%;
  }
  #booking-img:hover {
    width: 300px;
    height: 314px;
    padding-left: 20px;
    transform: scale(1) rotate(360deg);
    transition: transform 5s ease-in-out;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #influencer-img {
    padding-top: 50px;
    width: 300px;
    height: 250px;
    border-radius: 18px;
  }
}

/* Media Tab */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  *body {
    width: 100%;
    padding: 0%;
    margin: 0%;
  }
  #full_body {
    padding: 70px 100px;
  }
  .booking {
    padding-left: 5px;
    justify-content: space-around;
  }
  .width {
    padding: 0%;
    width: 100%;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  #influencer-img {
    padding-right: 30px;
  }
  #booking-text {
    width: 270px;
    height: 200px;
  }
}
